* {
  font-family: 'Montserrat';
  text-decoration: none;
}

/* Navigation section */

#navbar-wraper {
  margin-top: 10px;
}

.event-logo {
  width: 150px;
  margin-left: 2rem;
}

.menu-item {
  margin: 0 0 0 40%;
  text-align: center;
}

.menu-link {
  color: #2C293C;
  font-size: 1.2rem;
}

.menu-link:hover {
  color: #ffffff;
  background-color: #2C293C;
  width: 100%;
  transition-duration: 0.5s;
}

#reg-btn {
  padding: 8px;
  margin-left: 20px;
  width: 15%;
  background-color: #2C293C;
  color: #ffffff;
  font-size: 1.2rem;
  text-align: center;
}

#reg-btn:hover {
  background-color: #0f4c75;
  color: #ffffff;
  transition-duration: 0.5s;
}



/* Banner-carousel Section */

.header-slide-1 {
  background-image: url('../images/Banner image2.jpeg');
  background-repeat: no-repeat;
  background-size: cover;
  height: 85vh;
  margin-top: 10px;
  text-align: center;
  color: #ffffff;
}

.carousel-text{
  padding: 10% 30% 0 0;
}

.carousel-text p:nth-child(4){
  margin: 20px 0 30px;
}

.header-slide-1 h1,sup{
  font-size: 4rem;
  font-family: 'Ubuntu';
}

.header-slide-1 h3 {
  padding-top: 20px;
}
.date-icon, .map-icon {
  padding:0 15px 0 20px;
  color: #ffffff;
}

.date-icon:hover, .map-icon:hover {
  padding:0 15px 0 20px;
  color: #0f4c75;
}

/* Carousel slide 2 */

/* .header-slide-2 {
  background-image: url('../images/slide2.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  height: 85vh;
  margin-top: 10px;
  text-align: center;
  color: #ffffff;
} */












@media (max-width:990px)  {
  /* Navigation */

  .menu-item {
    margin: 0 30%;
    text-align: center;
  }

  #reg-btn {
    margin: 10px auto;
    width: 40%;
  }

  /* Carousel Content */
  .header-slide-1 {
    background-position: right;
  }


  .carousel-text{
    padding: 20% 0;
  }

  .carousel-text h1 {
    font-size: 3rem;
  }
}
